@import '../../node_modules/css-reset-and-normalize/scss/reset-and-normalize';
@import "variables";
@import "mixins";


html, body {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  border: none;
}

body {
  color: $dark-gray;
  font-size: $base-font-size;
}

p {
  font-size: 1.2em;
  margin-bottom: $baseline;
}

$size: 2.8em;
@for $i from 1 through 6 {
  h#{$i} {
    @include header;
    font-size: $size;
  } 
  $size: $size - 0.4;
}

@import "assets/fonts";
@import "components/typography";
@import "components/grid";
@import "components/controls";

.show-grid {
  margin-bottom: $gutter * 0.75;
  > div[class^="col-"],
  > div[class*=" col-"] {
    border: solid 1px $dark-gray;
  }
}
