.tfc-icon-header-wrapper {
  margin-top: 60px;
  margin-bottom: 60px;
}

.tfc-icon-header {
  text-align: center;
  font-family: $tfc-font-raleway;
}

.tfc-icon-header img {
  @extend .img-responsive;
  max-width: 100px;
  margin: auto;
}

.tfc-icon-header h3 {
  @extend .h3;
  font-size: 31px;
  font-style: normal;
  padding-top: 30px;
}
